<div class="contenedor_principal">
    {{>title}}
    <hr>
    <main class="container">
        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <img class="ms-5" src="../assets/img/img_fbi.jpg" alt="fbi" width="300">
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="text-light text-center">Sistema de Información Confidencial</h2>
                    <hr class="line_white">
                    <p class="text-light mt-3 p-3 sangria">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos laudantium
                        quibusdam commodi?
                        Quod quisquam, cumque eligendi, distinctio veniam reprehenderit ipsa atque quos debitis itaque
                        quam praesentium, eius optio quasi quas?Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Laudantium, voluptates? Quas laboriosam ad ea minima nemo blanditiis quisquam commodi
                        provident ipsum? Suscipit corporis corrupti eos error laboriosam expedita quaerat eius.</p>
                </div>
            </div>
        </section>
    </main>
</div>