<div class="contenedor_principal">
    {{>title}}

    {{#if error}}
    <section>
      <div>
        <h2 class="text-center mt-5" style="color: white">{{error}}</h2>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <a href="/" class="btn btn-warning text-center">Volver a Inicio</a>
      </div>
      
    </section>
    {{else}}
    
    <main class="container text-light">
        <hr class="line_white">
        <section>
          <div class="row text-center mt-5">
            <div class="col-12 col-md-6">
                <img class="border rounded p-3" src="../assets/img/villano.jpg" alt="ramsay bolton" width="300">
            </div>
            <div class="col-12 col-md-6">
                <h2>Ramsay Bolton</h2>
                <p>criminal buscado en westeros</p>
            </div>
          </div>
        </section>
        {{/if}}
    </main>
</div>